body {
  margin: 0;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper{
  width: 90%;
  margin: auto;
  border: 1px dashed red;
 }
.header {
  display: flex;
  margin-left: 10px;
}
.logo{
  background: no-repeat url('img/logo.svg');
  width: 55px;
  height: 55px;
  margin:33px 0 16px 0;
}
.menu{
  display: flex;
  align-items: center;
  margin: 11px 0 0 26px;
}
.menu__item{
  position: relative;
  margin-right: 35px;
  font: 12px/12px gotham_pro_black;
  color: #000;
  text-decoration: none;
}
.menu__item:nth-child(5n) {
    margin-right: 174px;
  }
.menu__item:nth-child(7n) {
    margin-right: 26px;
    left: 39px;
}
.menu__item:nth-child(8n) {
    left: 48px;
    bottom: 2px;
}
.menu__item:last-child{
  left: 48px;
}
.menu__search {
  width: 156px; /* Ширина поля с кнопкой */
  border: 1px solid #000000; /* Параметры рамки */
  height: 0px; /* Минимальная высота */
  display: flex;
  position: relative;
  top: 13px;
  left: 36px;
 }
 input[type="search"] {
  border: none; /* Убираем рамку */
  outline: none; /* Убираем свечение в Chrome и Safari */
 }
 input[type="submit"] {
  width: 13px; /* Ширина кнопки */
  height: 14px; /* Высота кнопки */
  border: none; /* Убираем рамку */
  background: no-repeat url(img/search.png);
  display: flex;
  position: relative;
  bottom: 19px;/* Параметры фона */
  right: 28px;
}
.main__title{
background:no-repeat url(img/main-pic.svg);
color: #FFFFFF;
font: 29px/29px gotham_pro_black;
padding: 89px 0px 105px 76px;
background-position: bottom;
margin: 10px 0;
}
.main__title-paragraph{
position: absolute;
top: 290px;
left: 101px;
font:12px/11px gotham_pro_black;
color: white;
padding: 6px 0px 0px 29px;
}
.main__pointer{
  position: absolute;
  top: 2px;
  left: 82px;
  padding: 6px 22px;

}
.main__title-product{
  padding: 20px 0 0 3px;
  text-align: center;
  font: 22px gotham_pro_black;
}
.main__column{
  border: 1px dashed red;
}
.main__column-body{
display: flex;
margin: 0 -3px;

}
.main__column-icon{
  padding: 0 37px;
  border: 1px dashed red;
}
.main__column-name{
  padding: 6px 0;
  font: 12px gotham_pro_black;
  margin-left: -7px;
  border: 1px dashed red;
}
.main__column-value{
font: 13px gotham_pro_black;
border: 1px dashed red;
margin: 0 -7px;
}
.column__icon{
  padding: 0 0 22px 0;
}
.main__column-icon:last-child{
  margin-left: 1px;
}
.main__column-icon_line {
width: 0px;
height: 101px;
opacity: 0.2;
border-left: 1px solid #000000;
margin: -135px 0 28px -40px;
}
.main__column-circle{
  display: flex;
  margin: -11px 0 0 144px;
  justify-content: space-between;
}
.circle1{
 background: #C4C4C4;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle2{
 background: #0E1211;
 clip-path: circle(50%);
 height: 9px;
 width: 9px;
}
.circle3{
 background: #B62E3C;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle4{
 background: #FDB431;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle5{
 background: #C4C4C4;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle6{
 background: #E29D69;
 clip-path: circle(50%);
 height: 9px;
 width: 8px;
}
.circle7{
 background:  #B62E3C;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle8{
 background:  #FDB431;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle9{
 background: #C4C4C4;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle10{
 background: #762E31;
 clip-path: circle(50%);
 height: 9px;
 width: 9px;
}
.circle11{
 background: #41479B;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle12{
 background: #FDB431;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle13{
 background: #C4C4C4;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle14{
 background: #257DA9;
 clip-path: circle(50%);
 height: 9px;
 width: 9px;
}
.circle15{
 background: #B62E3C;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.circle16{
 background: #FDB431;
 clip-path: circle(50%);
 height: 7px;
 width: 7px;
}
.main__paragragraph {
    display: flex;
    background-color: black;
    padding: 0px 0px 0px 10px;
margin: 44px 10px;
width: 1021px;
height: 492px;
border: 1px dashed green;

}
.video {
  /* чтобы можно было внутри всё разместить через absolute */
position: relative;
width: 1576px;
}
.video__img {
  position: absolute;
  top: 65px;
  left: 22px;
  width: 643px;
  height: 361px;
}
.video__play-icon {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,.5);
  background: #FFFFFF;
  position: absolute;
  left: 257;
  right: 0;
  top: 3;
  bottom: 0;
  margin: auto;
}
.video__play-triangle {
  margin-left: 15px;
  margin-top: 11px;
  border: 6px solid transparent;
  border-left: 6px solid rgba(0, 0, 0, 0.5);
}
.main__paragragraph-block{
  display: grid;
  margin: 15px 0px 13px 198px;
}
.main__paragragraph-subtitle{
  padding:119px 36px 0 80px;
  font: 22px gotham_pro_black;
  color: #FFFFFF;
}
.main__paragragraph-discription{
  font: 14px gotham_pro_black;
  color: #FFFFFF;
  padding: 6px 72px 6px 51px;
  position: relative;
  left: 27px;
  bottom: 48px;
}
.main__paragragraph-details{
  font: 12px gotham_pro_black;
  color: #FFFFFF;
  position: relative;
  bottom: 105px;
  margin: 30px 0 24px 79px;
}
.second__section{
  border: 1px dashed red;
  padding: 0 0 46px 0;
}
.second__section-subtitle{
  padding: 14px 0 26px 0;
  text-align: center;
  font: 22px gotham_pro_black;
}
.second__section-body{
  max-width: 626px;
  display: flex;
  margin: 0 -10px;
}
.second__section-column{
padding: 0 26px;
}
.second__section-name{
  padding: 6px 0;
  font: 18px gotham_pro_black;
  margin-left: -2px;
}
.second__section-text{
  font: 16px gotham_pro;
  color: #000000;
  margin: -17px 28px 19px 0;
  line-height: 1.1em;
}
.second__section-icon{

}
.second__section-details{
    font: 11.5px gotham_pro_black;
}
.second__section-date{
position: relative;
left: 242px;
bottom: 14px;
font: 11px gotham_pro_black;
color: #000000;
opacity: 0.3;
}
.main__title-second_subtitle{
font: 22px gotham_pro_black;
text-align: center;
margin: 78px 0px 31px 0;
}
.img{
max-width: 142px;
}
.aside{
padding: 0 0 75px 12px;
}
.aside__table{

}
.aside__title{
font: 18px gotham_pro_black;
text-align: end;
text-transform: uppercase;
color: #000000;
opacity: 0.3;
margin: 15px 0 7px 0;
margin-right: 15px;
}
.footer{
background: black;
width: 100%;
height: 298px;
}
.footer__wrap{
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 65px 83px 0 82px;
}
.footer__column{
  padding: 1 0 0 0;
}
.footer__column-name{
  font: 12px gotham_pro_black;
  color: white;
  padding: 2px 0 10px 4px;
}
.footer__column-body{
  font: 11px gotham_pro_black;
  color: white;
}
.footer__column-text{
  font: 13px gotham_pro;
  line-height: 1.5vw;
}
.button{
  font: 12px gotham_pro_black, sans-serif;
  display: inline-block;
    width: 117px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.main__button:hover,.main__button:active {
  background-color: #fff;
  color: #000;
  box-shadow: none;
  overflow: hidden;
}
.footer__text{
  color: #FFFFFF;
  font: 12px gotham_pro_black;
  margin: 40px 425px;
}
}
@media (max-width:1024px) {
  .wrapper {
    width: 100%;
  }
  .header{
    margin-left: 47px;
  }
  .main__paragragraph{
    width: 920px;
    height: 442px;
    margin: 51px 47px 41px 47px;
  }
  .main__paragragraph-subtitle {
     padding: 100px 35px 0 41px;
  }
  .main__paragragraph-discription {
    font: 13px gotham_pro_black;
    padding: 3px 56px 0px 11px;

  }
  .main__paragragraph-details{
    bottom: 97px;
    margin: 30px 0 21px 41px;
  }
  .img{
  max-width: 126px;
  height: 148px;
  width: 145px;
}
  .pic{
    max-width: 277px;
    height: 141px;
  }
  .menu{
    margin: 16px 0 0 13px;
  }
  .menu__item:nth-child(5n) {
      margin-right: 106px;
}
.menu__item:nth-child(7n) {
    margin-right: 13px;
}
.menu__item:nth-child(8n) {
    bottom: 4px;
}
.menu__item:last-child {
    left: 44px;
    bottom: 2px;
  }
.main__title{
  padding: 74px 0px 93px 52px;
  margin: 24px 49px 0;
}
.main__pointer{
  padding: 3px 3px;
}
.main__title-paragraph{
  padding: 1px 0 0 2px;
}
.main__title-product{
  margin: 62px 0px 0px 0px;
}
.main__column {
    margin: 18px 48px 11px 49px;
}
.video__img{
  top: 59px;
  left: 20px;
  width: 578px;
  height: 325px;
}
.video__play-icon{
  height: 34px;
  width: 34px;
  left: 99px;
  position: relative;
  top: 201px;
}
.second__section-date {
  left: 0;
  margin-left: 216px;
}
.second__section-body{
  margin: 0 19px;
}
.second__section-name{
  padding: 10px 0;
}
.second__section-text {
    font: 16px gotham_black_it;
    margin: -20px 2px 23px 0;
    line-height: 1em;
}
.second__section-column {
    padding: 0 25px;
}
.second__section-details {
    font: 12px gotham_pro_black;
  }
.aside__title{
  margin: 27px 0 9px 0;
  margin-right: 48px;
}
.aside__table {
    margin-left: 32px;
  }
}
@media (max-width:768px) {
  .body{
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  }
  .wrapper{
    width: 100%;
  }
  .header{
    margin-left: 42px;
    padding: 7px 0;
  }
  .logo{
      background: no-repeat url('img/logo2.png');
      width: 156px;
      height: 34px;
  }
  .menu {
      display: none;
     }
  .nav__burger {
    position: absolute;
    width: 58px;
    height: 17px;
    cursor: pointer;
    right: 45px;
    top: 53px;
   }
  .burger__line{
    position: absolute;
    display: block;
    width: 100%;
    height: 8px;
    background: #000000;
    top: 11px;
   }
  .nav__burger::before,
  .nav__burger::after {
    content: "";
    width: 100%;
    height: 9px;
    background: #000000;
    position: absolute;
    bottom: 14px;
   }
  .nav__burger::before {
    top: 11px;
   }
  #checkbox_id:checked ~ .menu{
    display: flex;
    align-items: center;
    padding-top: 46vw;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
   }
  #checkbox_id:checked ~ label > .nav__burger > .burger__line {
    display: none;
   }
  #checkbox_id:checked ~ label > .nav__burger::before {
    top: 7px;
    transform: rotate(45deg);
   }
  #checkbox_id:checked ~ label > .nav__burger::after {
    top: 7px;
    transform: rotate(-45deg);;
   }
  #checkbox_id {
    display: none;
    opacity: 0;
}
.main__column-icon:last-child {
  display:none;
}
.main__column-icon:nth-child(3n) {
  display: none;
  }
.main__paragragraph {
  width: 705px;
}
.second__section-column:nth-child(3n) {
display: none;
}
.aside__gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
}
.main__title {
background: no-repeat url(img/main-pic.svg);
color: #FFFFFF;
font: 50px/46px gotham_pro_black;
padding: 132px 0px 150px 44px;
background-position: inherit;
background-size: cover;
}
.main__title-paragraph {
    position: absolute;
    left: 19px;
    font: 19px/18px gotham_pro_black;
    color: white;
    padding: 6px 0px 0px 29px;
    top: 400px;
  }
.main__title-product {
      font: 30px gotham_pro_black;
      margin: 62px 17px 0px 0px;
}
}

/*@media (min-width:1025px)  {
.header{
margin-left:10px;
}
.menu{
  margin: 11px 0 0 26px;
}
.menu__item:nth-child(5n) {
    margin-right: 174px;
  }
.menu__item:nth-child(7n) {
    margin-right: 26px;
    left: 39px;
}
.menu__item:nth-child(8n) {
    left: 48px;
}
.main__pointer{
  position: absolute;
  padding: 6px 22px
}
.main__title{
font: 29px/29px gotham_pro_black;
padding: 89px 0px 105px 76px;
background-position: bottom;
margin: 10px 0;
}
.main__title-paragraph {
  padding: 6px 0px 0px 29px;
}
.main__title-product{
  margin: 48px 0px 0px 1px;
}
.main__column{
  margin: 18px 21px 0px 15px;
}
.video{
  width: 1576px;
}
.video__img {
    position: relative;
    left: 22px;
    top: 65px;
    width: 643px;
    height: 361px;
  }
  .video__play-icon {
      height: 37px;
      width: 37px;
      left: 44px;
      right: 0px;
      top: 51px;

    }
.main__paragragraph{
  padding: 0px 0px 0px 10px;
    margin: 27px 13px;
    width: 1021px;
    height: 492px;
}
.main__title-second_subtitle {
  margin: 78px 0 40px 0;
}
.main__paragragraph-subtitle {
    padding:136px 32px 5px 64px;
}
.main__paragragraph-discription {
    font: 16px gotham_pro;
    padding: 0 74px 0px 53px;
  }
.main__paragragraph-details{
  margin: 25px 0 41px 168px;
}
.aside {
  padding: 0 0 90px 109px;
}
.aside__title{
margin-right: 128px;
}
.footer{
  margin: 0 52px;
}
